<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>REPLICATE_API_TOKEN</key>
    <string>$(REPLICATE_API_TOKEN)</string>
    <key>NSCalendarsUsageDescription</key>
    <string>할 일을 사용자의 캘린더에 추가하고 관리하기 위해 캘린더 접근 권한이 필요합니다. 이를 통해 앱에서 생성한 할 일을 캘린더 앱에서도 확인하고 알림을 받을 수 있습니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
